body {
    font-family: roboto, Arial;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 60px;
}
html { scroll-behavior: smooth; }

.header ,
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 60px;
}
.footer {
    height: 60px;
    color: #f9faf8;
}
.left {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;
}

li a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    transition: .25s;
}
li a:hover {
    opacity: .7;
    text-decoration: underline;
}

li a:active {
    opacity: .5;
    text-decoration: underline;
}

.intro {
    background-color: #1F2937;
    display: flex;
    flex-basis: 500px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.intro-contents {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-container img {

    border-radius: 50%;
    object-fit: cover;

}

.intro-contents h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}
.intro-contents div {
    font-size: 18px;
    color: #e5e7eb;
    
}
button {
    background-color: #3882f6;
    padding: 7px 35px;
    color: #e5e7eb;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    opacity: .7;
}
.first-body {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}
.skills-img-info-container {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-skill {
    height: 150px;
    display: flex;
    justify-content: center;
}

.img-skill img {
    height: 100%;
}
.second-body {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.project-container {
    height: 270px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;

}

.project-container img {
    height: 220px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
}

.project-container div {
    font-size: 18px;
    font-weight: 700;
    color: #000000;

}

.third-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.third-body .container {
    background-color: #3882f6;
    width: 600px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: center;
    
}

.contact-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: #f9faf8;
}

.contact-text .first {
    font-size: 18px;
    font-weight: bold;
}
.contact-text .second {
    font-size: 14px;
}
.contact-button {
    border: 1px solid #f9faf8;
    border-radius: 8px;
    color: #f9faf8;
}

@media (min-width: 768px) {
    .intro-contents {
        justify-content: center;
    }
  }

